$white: #fff
$black: #111

$dxps-orange: #e9cac2
$dxps-orange-brighter: #f7a18c

// $dark-grey: #39424E
$dark-grey: #3B3837

$font: 'Didact Gothic','sans serif'
$body-size: 16px
$body-text: $white

// $links: darken($white, 20%)
$links: $dxps-orange
// $links-hover: $white
$links-hover: $dxps-orange-brighter

$code-block: #000004
