#sections
    align-items: center
    font-size: 1.4rem
    font-weight: bold
    color: var(--text)
    a
        color: var(--text)
        border-bottom: none
        opacity: 0.85
        &:hover
            opacity: 1
            color: var(--link)
