@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(fonts/CrimsonPro-Variable.woff2) format('woff2');
}

@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 200 900;
    font-display: swap;
    src: url(fonts/CrimsonPro-Italic-Variable.woff2) format('woff2');
}
